/** estilos generales **/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul, li{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #000;
}

/* Usamos variables constantes globales mediante la pseudo clase :root que representa la raíz del documento */
/* Las variables se declaran con la sintaxis --nombre-variable: valor; */
/* Las variables se pueden usar en cualquier parte del CSS utilizando la funcion var(--nombre-variable) */
/* En este caso, declaramos los colores principales de nuestra página web, los cuales se usan en el resto del código CSS */
:root{
    --color-amarillo: #e6c229;
    --color-amarillo-hover: #ab932c;
    --color-verde: #19381f;
    --color-verde-hover: #247333;
}

/**
* Estilos para el header **/
.headerContainer{
    display: flex;
    height: 70px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para el logo */
.logoContainer{
    position: relative;
}

.logo{
    height: 50px;
    margin: 10px;
}

/* Configuramos una animacion con la propiedad animation */
/* La propiedad animation: animacionLetraLogo 0.5s linear indica que la animacion se llamara animacionLetraLogo y durara 0.5 segundos con una velocidad constante (linear) */
@media (min-width: 576px){
    .logoContainer:hover > .letraLogo{
        display: block;
        animation: animacionLetraLogo 0.4s ease-in-out;
    }
    /** Esto permite mostrar el placeholder invisible en el hover del logo */
    .logoContainer:hover + .placeholderLogo{
        display: block;
    }
}

/* Animacion de CSS para la letra del logo */
/* La propiedad from indica el estado inicial de la animacion y to el estado final */
/* La propiedad transform: translateX() es utilizada para mover un elemento en el eje X */
/* La propiedad opacity: 0 indica que la letra del logo estara oculta al inicio de la animacion */
/* La propiedad opacity: 100% indica que la letra del logo estara visible al final de la animacion */
@keyframes animacionLetraLogo {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 100%;
    }
}

.letraLogo{
    position: absolute;
    top: 27px;
    left: 68px;
    display: none;
    height: 20px;
}


.placeholderLogo{
    display: none;
    min-width: 160px;
}

.invisible{
    visibility: hidden;
}

.inputBuscarContainer{
    width: 100%;
    margin: 0px 10px;
}

.inputBuscar{
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #787878;
}

.loginBtn{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 5px;
}

@media (min-width: 576px){
    .loginBtn{
        padding: 10px 15px;
    }
}

.menuIcon{
    width: 35px;
    height: 35px;
}

.loginIcon{
    margin-right: 10px;
}

.loginBtnText{
    display: none;
}

@media (min-width: 576px){
    .loginBtnText{
        display: block;
    }
}

.navList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
    background-color: var(--color-amarillo);
    border-bottom: 1px solid #222;
}

.navList li{
    display: flex;
    padding: 0px 10px;
    font-size: 12px;
    transition: all 0.3s ease;
}

.navList li:hover{
    color: white;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

@media (min-width: 576px){
    .navList li{
        font-size: 14px;
    }
}

@media (min-width: 768px){
    .navList li{
        padding: 0px 25px;
        font-size: 16px;
    }
}

.textCenter{
    text-align: center;
}

/* Estilos para el formulario */

/* Diseño del formulario */
.formulario{
    color: var(--color-verde);
    background-color: var(--color-amarillo);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:10px;

}

/* Para que el diseño de todos los imput sean iguales. */
.formInput{
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #222;
}

/* Diseño para especificamente el textarea */
textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #222;
}

/* Esto es para que el formulario sea responsive */
.formularioContainer{
    position: relative;
    margin:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Agrupar algunos imput para que estos estén al mismo nivel  */
.formularioTexto{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Para que se ajuste al contorno */
.formularioTexto div{
    width: min-content;
    padding: 10px;
}



/*Estilo de la página quienes somos*/

/* Con esto hago que se centre el contenido y le pongo un color al fondo*/
.bodyquienessomos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--color-amarillo);
    
}

/* Diseño de cada tarjeta */
.card{
    position: relative;
    width:300px;
    height:350px;
    margin:20px;
}

/* Esto es el diseño de la cara en general */
.card .face{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    border-radius:10px;
    overflow:hidden;
    transition: 0.5s;
}

/* Sombredo de la cara frontal de la tarjeta*/
.card .front{
    box-shadow: 0px 5px 10px black;
}

/* Ajustar la imagen al tamaño de la tarjeta */
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Diseño del h3 delantero*/
.card .front h3{
    position: absolute;
    bottom:140px;
    width: 100%;
    height:45px;
    line-height: 45px;
    color:var(--color-amarillo);
    background: var(--color-verde);
    text-align: center;
    z-index: 10;
}

/* Diseño de la parte trasera de la tarjeta */
.card .back{
    /* 180 deg para que no se muestre */
    transform: perspective(600px) rotateY(180deg);
    background: var(--color-verde);
    padding: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;
    box-shadow: 0px 5px 10px black;
}

/* Diseño del h3 trasero */
.card .back h3{
    font-size: 30px;
    margin-top:20px;
    letter-spacing: 2px;
    color:var(--color-amarillo);
}

/* Diseño del párrafo */
.card .back p{
    color: var(--color-amarillo);
    letter-spacing: 1px;
}

/* La parte frontal de la trarjeta dejará de mostrarse cuando el cursor esté encima de el */
.card:hover .front{
    transform:perspective(600px) rotateY(180deg);
}

/* La parte trasera de la trarjeta se mostrar cuando el cursor esté encima de el */
.card:hover .back{
    transform:perspective(600px) rotateY(360deg);
}


/** Estilos para el contenido principal **/
.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 0px;
}

aside{
    width: auto;
    border-right: 1px solid #222;
    background-color: var(--color-amarillo);
    color: var(--color-verde);
}

aside a{
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-verde);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

aside a:hover{
    background-color: var(--color-verde);
    color: white;
    transition: all 0.3s ease;
}

aside{
    display: none;
    flex-direction: column;
}

@media (min-width: 576px){
    aside{
        display: block;
    }
}

.menu{
    display: block;
    color:white;
}

.item{
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-verde);
    position: relative;
    cursor: pointer;
    background-color: var(--color-amarillo);
}

.item:hover{
    background-color: var(--color-amarillo-hover);
}

.subitemsContainer{
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 10;
    border: 1px solid var(--color-verde);
    border-bottom: none;
    display: none;
}

.subitem{
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-verde);
    background-color: var(--color-amarillo);
    position: relative;
    cursor: pointer;
}

.subitem:hover{
    background-color: var(--color-amarillo-hover);
}

.item:hover > .subitemsContainer{
    display: block;
}

.subitem:hover > .subitemsContainer{
    display: block;
}

/** Estilos para los productos **/
.sectionContainer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}

@media (min-width: 576px){
    .sectionContainer{
        width: auto;
    }
}

.productoContainer{
    width: 42%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px #0000001a, 0 2px 6px 2px #0000000d;
    padding: 8px;
}

@media (min-width: 976px){
    .productoContainer{
        width: 23%;
    }
}

@media (min-width: 1200px){
    .productoContainer{
        width: 18%;
    }
}

.article, footer, header{
    display: block;
}

.productoContainer footer{
    text-align: center;
}

.imgProducto{
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.nombreProducto{
    font-size: 16px;
    font-weight: bold;
    color: var(--color-verde);
    padding: 10px 0px;
    margin-bottom: 5px;
    cursor: pointer;
}

.precioProducto{
    font-size: 1.5em;
    margin-bottom: 10px;
}

.btnAgregar{
    width: max-content;
    color: white;
    background-color: var(--color-verde);
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnAgregar:hover{
    background-color: var(--color-verde-hover);
    transition: all 0.3s ease;
}

.iconoAgregar{
    width: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}

/** Estilos para la sección de localización **/

/* Margen al h1 */
.localizacionh1{
    padding:20px;
    margin:10px;
}

/* Estilo del buscador */
.localizacionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 110px;
    width:100%;
    background-color: rgb(234, 234, 234);
    position:relative;
    margin: 0px auto;
    padding:10px;
}

/* En caso de que se haga pequeña la pantalla que el bloque buscador mantenga margen */
@media (min-width: 500px){
    .localizacionContainer{
        width:80%;
    }
    
}
@media (min-width: 576px){
    .localizacionContainer{
        width:80%;
    }
    
}

/* Estilo del input de búsqueda */
.inputBuscar{
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #787878;
}

/* Estilo del botón de búsqueda */
.buscarBtn{
    padding:10px;
    text-align: center;
    color:var(--color-verde);
    background-color: var(--color-amarillo);
    border-radius: 10px;
    cursor:pointer;
}

/* Margen para el mapa */
.mapContainer{
    margin:20px;
}

pre{
    margin: 5px;
    text-align: center;
    font-size: 10px;
}

@media (min-width: 576px){
    pre{
        font-size: 12px;
    }
}

.text-blue{
    color: blue;
}